
@media (max-width: 768px) {

    .centralizar{
        width: 100%;
    }

    .menu{
        display: none;
        
    }
    
    .menu.open{
        display: block;
        height: 100%;
        background-color: #905d3fd5;
    
    }

    .menu ul{
        display: flex;
        width: 100%;
        
        position: relative;

        flex-direction: column;
        align-items: center;
        padding: 0;
        
    }
    .menu ul a{
        font-size: 2em;
        
    }

    .hamburguerlogo{
        display: block;
        float: right;
        cursor: pointer;
        font-family: "Bebas Neue", sans-serif;
        outline: none;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        margin: 5px; 
        place-content: center;
        text-decoration: none;
        font-size: 2em;
        background-color: #905d3fd5;
        color: rgb(254, 254, 254);
    }



    header{
        margin: 0;
        width: 100vw;
        height: 350px;
        border: none; 
        border-radius: 0;

    }



    .produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 350px;
    }

    .conteudo{
        padding-top: 25px;
    }

    .conteudo.hide {
        display: none;
      }
}


